/* @font-face {
  font-family: "Avenir Next";
  src: url("fonts/Avenir_Next.eot");
  src:
  url("fonts/Avenir_Next.woff") format("woff"),
  url("fonts/Avenir_Next.otf") format("opentype"),
  url("fonts/Avenir_Next.svg#filename") format("svg");
} */

body
{
  /* font-family: "Avenir Next" !important; */
  font-family: 'Montserrat', sans-serif;
  letter-spacing:2px;
  margin: 0;
}
.intro
{
  text-align: center;
}

/*.title_backgroud
{
  background: black;
  height: 300px;
}*/

.navbar
{
  overflow: hidden;
  position: fixed;
  /*top: 0;*/
  width: 100%;
  z-index: 2;
}

.grad
{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#852F75+70,4f4e4e+100&1+0,0.5+100 */
  background: -moz-linear-gradient(top, rgba(21,14,56,1) 0%, rgba(21,14,56,0.65) 70%, rgba(21,14,56,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(21,14,56,1) 0%,rgba(21,14,56,0.65) 70%,rgba(21,14,56,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(21,14,56,1) 0%,rgba(21,14,56,0.65) 70%,rgba(21,14,56,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#852F75', endColorstr='#804f4e4e',GradientType=0 ); /* IE6-9 */
}

@media only screen and (max-width: 770px)
{
  /*body {
      color: lightblue;
  }*/
  .title_backgroud
  {
    padding-top: 10px;
  }
  .small-screen-h3{
    margin-bottom: 0;
  }
  .intro
  {
    text-align: center;
  }
  .padding{
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 484px)
{
  h1{
    font-size: 26px;
  }
  p.size
  {
    font-size: 19px;
  }
}

.padding
{
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.content
{
  max-width: 1024px;
  margin: 0 auto !important;
  float: none !important;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar
{
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
}

.button-pink
{
  /*background-color: #852F75;*/
  background-color: #852F75;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 5px 24px;
  border-radius: 5px;
}

.button-white
{
  background-color: #FFFFFF;
  border: none;
  color: #852F75;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 5px 24px;
  border-radius: 5px;
}

.button-nav
{
  background-color: #852F75;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.align-left
{
  align:left;
}

/* Add a gray background color and some padding to the footer */
footer
{
  background-color: #f2f2f2;
  padding: 25px;
}

.title_p{
  font-weight: 600;
}

.title{
  font-size: 30px;
  font-weight: 600;
}

.padding_b{
  padding-top: 50px;
  padding-bottom: 50px;
}

.handwriting
{
  /* font-family: 'Homemade Apple', cursive; */
  font-family: 'Podkova', serif, cursive;
  font-size: 20px;
}

.ligt-grey
{
  color: #150e38;
  background-color: #D8D8D8;
}

.grey
{
  color: #FFFFFF;
  background-color: #9B9B9B;
}

.dark-grey
{
  color: #FFFFFF;
  background-color: #4F4E4E;
}

.pink
{
  color: #FFFFFF;
  background-color: #150e38;
}

.rotate-left
{
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
  transform: rotate(20deg);
  padding: 10px;
}

.rotate-right
{
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
  padding: 10px;
}

.quote1
{
  background: #9B9B9B;
  position: relative;
  z-index: 1;
  color: #fff;
  margin: 50px 0;
  /*padding: 20% 20px;*/
}

.quote1:before, .quote1:after
{
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.quote1:before
{
  top: 0;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.quote1:after
{
  bottom: 0;
  -webkit-transform: skewY(3deg);
          transform: skewY(3deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.quote2
{
  background: #150e38;
  position: relative;
  z-index: 1;
  color: #fff;
  margin: 50px 0;
  /*padding: 20% 20px;*/
}

.quote2:before, .quote2:after
{
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

.quote2:after
{
bottom: 0;
-webkit-transform: skewY(-3deg);
        transform: skewY(-3deg);
-webkit-transform-origin: 100%;
        transform-origin: 100%;
}

.quote2:before
{
top: 0;
-webkit-transform: skewY(-3deg);
        transform: skewY(-3deg);
-webkit-transform-origin: 0 0;
        transform-origin: 0 0;
}


/**
* Tooltip Styles
*/

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
position: relative;
/*z-index: 1;*/
cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
visibility: hidden;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity: 0;
pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
position: absolute;
bottom: 150%;
left: 50%;
margin-bottom: 5px;
margin-left: -80px;
padding: 7px;
width: 160px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #000;
background-color: hsla(0, 0%, 20%, 0.9);
color: #fff;
content: attr(data-tooltip);
text-align: center;
font-size: 14px;
line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
position: absolute;
bottom: 150%;
left: 50%;
margin-left: -5px;
width: 0;
border-top: 5px solid #000;
border-top: 5px solid hsla(0, 0%, 20%, 0.9);
border-right: 5px solid transparent;
border-left: 5px solid transparent;
content: " ";
font-size: 0;
line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
visibility: visible;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity: 1;
}

.navbar-inverse .navbar-nav>li>a
{
color: white;
}

.navbar-inverse .navbar-nav>li>a:hover
{
color: #FFFF96;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
color: #FFFF96;
background-color: #222;
/* border-bottom: 1px solid white; */
}

.atstarpe
{
padding-bottom: 10px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

@media only screen and (max-width: 767px)
{
  .margin-right
  {
    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 767px)
{
  .margin-right
  {
    margin-bottom: 0;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 767px)
{
  .margin-left
  {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 767px)
{
  .margin-left
  {
    margin-bottom: 0;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 767px)
{
  .margin-right-small
  {
    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 767px)
{
  .margin-right-small
  {
    margin-bottom: 0;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px)
{
  .margin-left-small
  {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 767px)
{
  .margin-left-small
  {
    margin-bottom: 0;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 838px)
{
  .ada-title
  {
    font-size: 34px;
  }
}

@media only screen and (max-width: 802px)
{
  .ada-title
  {
    font-size: 32px;
  }
}

@media only screen and (max-width: 520px)
{
  .ada-title
  {
    font-size: 26px;
  }
}

@media only screen and (max-width: 449px)
{
  .ada-title
  {
    font-size: 21px;
  }
}

@media only screen and (min-width: 1032px)
{
  .margareth-title
  {
    font-size: 33px;
  }
}

@media only screen and (max-width: 1031px)
{
  .margareth-title
  {
    font-size: 30px;
  }
}

@media only screen and (max-width: 957px)
{
  .margareth-title
  {
    font-size: 27px;
  }
}

@media only screen and (max-width: 883px)
{
  .margareth-title
  {
    font-size: 24px;
  }
}

@media only screen and (max-width: 808px)
{
  .margareth-title
  {
    font-size: 22px;
  }
}

@media only screen and (max-width: 943px)
{
  .hedy-title
  {
    font-size: 33px;
  }
}

@media only screen and (max-width: 881px)
{
  .hedy-title
  {
    font-size: 30px;
  }
}

@media only screen and (max-width: 821px)
{
  .hedy-title
  {
    font-size: 27px;
  }
}

@media only screen and (max-width: 515px)
{
  .hedy-title
  {
    font-size: 24px;
  }
}

@media only screen and (max-width: 474px)
{
  .hedy-title
  {
    font-size: 20px;
  }
}

@media only screen and (max-width: 419px)
{
  .hedy-title
  {
    font-size: 18px;
  }
}

@media only screen and (max-width: 392px)
{
  .hedy-title
  {
    font-size: 15px;
  }
}

#slideShow{
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;

}

.mySlides{
  width: 60%;
  height:60%;
  margin-right: 20%;
  margin-left: 20%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
