html {
    background: #eaeafb;
    margin-top: 0.5%;
}

#navigationBar{
  margin-top:-5%;
  padding-top: 0.5%;
  margin-bottom: 0.5%;
  background-color: #aaaaee;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#navigationBarList {
    list-style-type: none;
}
.navigationBarElement {
    display: inline;
    padding: 1.5%;
    color: #ffffff;
    text-transform: uppercase;
}

.navigationBarElement:hover{
  background-color:  #9595ea;
}

span {
    background-color: rgba(255, 255, 255, 0.5);
}

.link{
  color: inherit;
  text-decoration: none;
}

#imageAndTitle{
  margin-bottom:2%;
  color: #1d1d95;
}

#titleContainer{
  text-align: center;
  margin-top: 4%;
  position: relative;
}

#title{
  display: inline-block;
  color:   #1d1d95;
  padding-bottom: 2%;
  text-transform: uppercase;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imageTitle{
  width: 95%;
}

.round {
    border-radius: 100%;
}

.columnUp{
  float: left;
  width: 50%;
}

.column {
    float: left;
    width: 25%;
}

.columnPictures{
  float:left;
  width: 20%;
}

.row {
  text-align: center;
  margin-bottom: 4%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image {
  width: 75%;
  height: 75%;
}

.smallTitle{
  padding-bottom: 2%;
  color:   #1d1d95;
  text-transform: uppercase;
  font-weight: bold;
}

.text{
  text-align: justify;
  padding-right: 10%;
  padding-left: 10%;
  text-indent: 40px;
}

#bottomNavigationBar{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #aaaaee;
  text-align: center;
  color: #ffffff;
}

#slideShow{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;

}

.mySlides{
  width: 100%;
  height: 100%;
}

.button:focus {
  outline:0;
}

.button{
  margin-right:2%;
  margin-left:2%;
  border-radius: 50%;
  opacity: 0.5;
}

#factsTitle{
  text-align: center;
  margin-top:1%;
}

.fullWidthText{
  padding-bottom: 2%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: justify;
  padding-top: 0.5%;
  text-indent: 40px;
}

.imageBigger {
  width: 35%;
  height: 35%;
}

.imageSmaller{
  width:100%;
  height:100%;
}

.oneStory{
  padding-bottom: 1%;
}
